*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bodyy{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #475569;
    color: #ffffff;
}

.container{
    position: relative;
    height: 450px;
    border: 2px solid #ffffff ;
    overflow: hidden;
}

.container .form-box{
    position: absolute;
    top: 0;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.form-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-right: 23px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffffff;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: aqua;
}

.input-box input:focus ,
.input-box input:valid {
    border-bottom: 2px solid aqua;
}



.btn{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 30px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: " ";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b,#ff2770,#25252b,#ff2770 );
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover::before{
    top: 0;
}

.regi-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a{
    text-decoration: none;
    color: #ff2770;
}

.regi-link a:hover{
    text-decoration: underline;
}

.info-content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content h2{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}

.info-content p{
    font-size: 16px;
}

.container .curved-shape{
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 950px;
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: .6s ease-in-out;
}


.container.active .curved-shape{
    transform: rotate(0deg) skewY(0deg);
}

.container .curved-shape2{
    position: absolute;
    left: 250px;
    top: 100%;
    height: 700px;
    width: 850px;
    background:  #475569;
    border-top: 3px solid #ff2770;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
}

.container.active .curved-shape2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: .5s;
}

.form-box.Login .animation{
    transform: translateX(0%);
    opacity: 1;
}

.container.active .form-box.Login .animation{
    transform: translateX(-120%);
    opacity: 0;
}


.info-content.Login .animation{
    transform: translateX(0);
    transition: .7s ease;
}


/*REGISTER*/

.info-content.Register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.info-content.Register .animation{
    transform: translateX(-120%);
    transition: .7s ease;
}

.container.active .form-box.Register .animation{
    transform: translateX(120%);
    opacity: 0;
}


.form-box.Register{
    right: 0;
    padding: 0 60px;
}

.form-box.Register .animation{
    transform: translateX(120%);
    opacity: 0;
}

.container.active .form-box.Register .animation{
    transform: translateX(0%);
    opacity: 1;
}
