*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    color: azure;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
    color: #ffffff;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    margin-top: 19px;
}

.form-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-right: 23px;
}

.input-box label{
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffffff;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -12px;
    color: #b07fff;
}

.input-box input:focus ,
.input-box input:valid {
    border-bottom: 2px solid #b07fff;
}

